.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
plugins
packages.txt
.env

venv
logs
tests
plugins
diabetes_disease_mlops.egg-info
include
include/gcp-key.json
README.md
config/__pycache__
src/__pycache__

infrastructure/.terraform
infrastructure/.terraform.lock.hcl
infrastructure/terraform.tfstate
infrastructure/diabetes-disease-gcp-key.json
infrastructure/terraform.tfstate.backup

notebooks/diabetes_scaler.pkl
notebooks/diabetes_train.csv
notebooks/diabetes.pkl

artifacts/raw
artifacts/models