pandas
numpy
matplotlib
seaborn
setuptools
scikit-learn
redis
flask
apache-airflow-providers-google
psycopg2
xgboost
comet-ml
dvc
google-cloud-storage
dvc-gs
fastapi[all]
uvicorn
alibi-detect
prometheus-client